.search-container {
  position: relative;
}

.ux-search-submit {
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
}

.searchform {
  position: relative;
}

.searchform button {
  position: absolute;
  right: 0;
}

.woocommerce-form-login__submit {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce-form-login__submit[disabled] {
  cursor: not-allowed;
}

.woocommerce-form-login__submit .loading {
  display: inline-block;
  border: 4px solid white;
  border-left-color: rgba(223, 224, 235, 0.8);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s ease-in-out infinite;
}

.woocommerce-form-register__submit {
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce-form-register__submit[disabled] {
  cursor: not-allowed;
}

.woocommerce-form-register__submit .loading {
  display: inline-block;
  border: 4px solid white;
  border-left-color: rgba(223, 224, 235, 0.8);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#gap-698061554 {
  padding-top: 80px;
}

#section_635179170 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(235, 235, 235);
}

#section_635179170 .section-bg-overlay {
  background-color: rgba(0, 0, 0, 0);
}

#image_2096296992 {
  width: 100%;
}

#col-1988428650 > .col-inner {
  padding: 5% 5% 5% 0px;
}

#text-2368726676 {
  color: rgb(83, 80, 80);
}

#text-2368726676 > * {
  color: rgb(83, 80, 80);
}

#gap-123179871 {
  padding-top: 40px;
}

#gap-1509444521 {
  padding-top: 21px;
}

#gap-1895576768 {
  padding-top: 20px;
}

#banner-1950404152 .bg.bg-loaded {
  background-image: url(../images/giuong-iris-dep-gia-tot-hoc-keo.jpg);
}
#banner-1950404152 .bg {
  background-position: 49% 56%;
}

#text-box-1028103647 {
  width: 63%;
}
#text-box-1028103647 .text-box-content {
  font-size: 100%;
}

#text-221784697 {
  text-align: center;
  color: rgb(36, 32, 32);
}
#text-221784697 > * {
  color: rgb(36, 32, 32);
}

#gap-2113667135 {
  padding-top: 30px;
}

#banner-1674203706 {
  padding-top: 100%;
}
#banner-1674203706 .bg.bg-loaded {
  background-image: url(../images/cua-hang-360-do-nha-xinh.jpg);
}
#banner-1674203706 .bg {
  background-position: 43% 68%;
}
#text-box-697698869 {
  width: 60%;
}
#text-box-697698869 .text-box-content {
  font-size: 100%;
}
#text-2314744426 {
  font-size: 1.05rem;
  color: rgb(69, 69, 73);
}
#text-2314744426 > * {
  color: rgb(69, 69, 73);
}
#gap-1752626467 {
  padding-top: 36px;
}
#image_506014236 {
  width: 100%;
}
#col-398052187 > .col-inner {
  padding: 10% 10% 10% 10%;
}
#section_1752696899 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#image_28374993 {
  width: 100%;
}
#image_1640297508 {
  width: 100%;
}
#image_1999236504 {
  width: 100%;
}
#image_1090924730 {
  width: 100%;
}
#section_759632796 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(247, 247, 247);
}
#section_759632796 .section-bg-overlay {
  background-color: rgba(255, 255, 255, 0.85);
}
#banner-grid-994941275 .grid-col-1{height: 600px}
#banner-grid-994941275 .grid-col-1-2{height: 300px}
#banner-grid-994941275 .grid-col-1-3{height:200px}
#banner-grid-994941275 .grid-col-2-3{height: 400px}
#banner-grid-994941275 .grid-col-1-4{height: 150px}
#banner-grid-994941275 .grid-col-3-4{height: 450px}
#banner-1088107610 {
  padding-top: 500px;
}
#banner-1088107610 .bg.bg-loaded {
  background-image: url(../images/nha-xinh-ghe-an-phong-an-749x800.jpg);
}
#banner-1088107610 .bg {
  background-position: 10% 27%;
}
#text-box-1318303730 {
  width: 60%;
}
#text-box-1318303730 .text-box-content {
  font-size: 100%;
}

#banner-778942181 {
  padding-top: 500px;
}
#banner-778942181 .bg.bg-loaded {
  background-image: url(../images/Armchair-TUDOR-VELVET-PETROL-398217-3.jpg);
}
#banner-778942181 .bg {
  background-position: 60% 61%;
}
#text-box-1696166676 {
  width: 60%;
}
#text-box-1696166676 .text-box-content {
  font-size: 100%;
}

#banner-361829436 {
  padding-top: 500px;
}
#banner-361829436 .bg.bg-loaded {
  background-image: url(../images/giuong-ngu-pio-1.jpg);
}
#banner-361829436 .bg {
  background-position: 97% 83%;
}

#text-box-1660448018 {
  width: 60%;
}
#text-box-1660448018 .text-box-content {
  font-size: 100%;
}

#banner-1475762535 {
  padding-top: 500px;
}
#banner-1475762535 .bg.bg-loaded {
  background-image: url(../images/nha-xinh-banner-ban-an-vuong-24423.jpg);
}
#banner-1475762535 .overlay {
  background-color: rgba(7, 7, 7, 0.07);
}
#banner-1475762535 .bg {
  background-position: 0% 43%;
}
#text-box-1929009184 {
  width: 60%;
}
#text-box-1929009184 .text-box-content {
  font-size: 100%;
}
#banner-1603689008 {
  padding-top: 500px;
}
#banner-1603689008 .bg.bg-loaded {
  background-image: url(../images/BST-COASTAL-SOFA-VANG-2.jpg);
}
#banner-1603689008 .bg {
  background-position: 44% 79%;
}
#text-box-1171943206 {
  width: 60%;
}
#text-box-1171943206 .text-box-content {
  font-size: 100%;
}
#gap-883906113 {
  padding-top: 30px;
}
#section_689558828 {
  padding-top: 30px;
  padding-bottom: 30px;
}
#banner-1980159345 {
  padding-top: 100%;
}
#banner-1980159345 .bg.bg-loaded {
  background-image: url(../images/bo-suu-tap-coastal-13723-vuong.jpg);
}
#banner-1980159345 .bg {
  background-position: 56% 48%;
}
@media (min-width:550px) {
  #banner-1980159345 {
    padding-top: 100%;
  }
}

#text-box-13400618 {
  width: 85%;
}
#text-box-13400618 .text-box-content {
  font-size: 100%;
}
@media (min-width:550px) {
  #text-box-13400618 {
    width: 60%;
  }
}

#banner-762721332 {
  padding-top: 50%;
}
#banner-762721332 .bg.bg-loaded {
  background-image: url(../images/bo-suu-tap-coastal-13723-1.jpg);
}
#banner-762721332 .overlay {
  background-color: rgba(255, 255, 255, 0);
}
#banner-762721332 .bg {
  background-position: 48% 62%;
}
#text-box-671666854 {
  width: 78%;
}
#text-box-671666854 .text-box-content {
  font-size: 100%;
}
#text-3705634621 {
  color: rgb(255,255,255);
}
#text-3705634621 > * {
  color: rgb(255,255,255);
}
#section_917526953 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(246, 247, 248);
}
#row-1427509508 > .col > .col-inner {
  background-color: rgb(246, 247, 248);
}
#image_1349304432 {
  width: 100%;
}
#text-4141469133 {
  font-size: 0.75rem;
}
#gap-1058742967 {
  padding-top: 30px;
}
#gap-1983472287 {
  padding-top: 36px;
}

#banner-grid-1630569317 .grid-col-1{height: 575px}
#banner-grid-1630569317 .grid-col-1-2{height: 287.5px}
#banner-grid-1630569317 .grid-col-1-3{height:191.66666666667px}
#banner-grid-1630569317 .grid-col-2-3{height: 383.33333333333px}
#banner-grid-1630569317 .grid-col-1-4{height: 143.75px}
#banner-grid-1630569317 .grid-col-3-4{height: 431.25px}

#banner-1404720218 {
  padding-top: 500px;
}
#banner-1404720218 .bg.bg-loaded {
  background-image: url(../../assets/images/GIUONG-DEP-GIA-TOT-IRIS-1-400x400.jpg);
}

#banner-1938589329 {
  padding-top: 500px;
}
#banner-1938589329 .bg.bg-loaded {
  background-image: url(../../assets/images/armchair-dep-mau-hong-hien-dai-13522-305x400.jpg);
}
#banner-1938589329 .bg {
  background-position: 49% 99%;
}

#text-box-2057150342 {
  width: 60%;
}
#text-box-2057150342 .text-box-content {
  font-size: 100%;
}
@media (min-width:550px) {
  #text-box-2057150342 {
    width: 67%;
  }
}

#banner-111509773 {
  padding-top: 100%;
  background-color: rgb(255, 255, 255);
}
#banner-111509773 .bg.bg-loaded {
  background-image: url(../images/bo-suu-tap-osaka-moi-nha-xinh-6522-1346x800.jpg);
}
#banner-111509773 .overlay {
  background-color: rgba(39, 38, 38, 0.116);
}
#banner-111509773 .bg {
  background-position: 58% 54%;
}

#text-box-875675452 {
  width: 50%;
}
#text-box-875675452 .text-box-content {
  font-size: 99%;
}

#text-2215819048 {
  color: rgb(255,255,255);
}
#text-2215819048 > * {
  color: rgb(255,255,255);
}

#gap-1286971254 {
  padding-top: 30px;
}

#text-3954735178 {
  text-align: center;
}

#gap-839622587 {
  padding-top: 20px;
}

#text-297264249 {
  font-size: 1.35rem;
}

#gap-1235709045 {
  padding-top: 30px;
}

#text-3039035824 {
  font-size: 1rem;
  line-height: 1.5;
}

#image_557153708 {
  width: 100%;
}

#image_2036034150 {
  width: 100%;
}

#image_1388662978 {
  width: 100%;
}

#text-1793638704 {
  font-size: 1rem;
  line-height: 1.5;
}

#image_551227727 {
  width: 100%;
}

#text-2430147520 {
  font-size: 1rem;
  line-height: 1.5;
}

#image_732733115 {
  width: 100%;
}

#text-1576206175 {
  font-size: 1rem;
}

#gap-526218808 {
  padding-top: 192px;
}

#text-2509683323 {
  font-size: 1rem;
  line-height: 1.5;
}

#image_1500853033 {
  width: 100%;
}

#gap-1080054009 {
  padding-top: 41px;
}

#image_862170874 {
  width: 100%;
}

#section_1849617930 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#page-header-798356729 .title-bg {
  background-image: url(../../assets/images/nha-xinh-lich-su-hinh-thanh-21.jpg);
}

#section_289448662 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#text-387192178 {
  text-align: center;
}

#col-37920929 > .col-inner {
  padding: 25px 0px 25px 0px;
}

#page-header-92282073 .title-bg {
  background-image: url(../../assets/images/elegance-bo-suu-tap-dep.jpg);
}

#banner-grid-1716618239 .grid-col-1{height: 600px}
#banner-grid-1716618239 .grid-col-1-2{height: 300px}
#banner-grid-1716618239 .grid-col-1-3{height:200px}
#banner-grid-1716618239 .grid-col-2-3{height: 400px}
#banner-grid-1716618239 .grid-col-1-4{height: 150px}
#banner-grid-1716618239 .grid-col-3-4{height: 450px}

#image_361833446 {
  width: 100%;
}

#image_755893469 {
  width: 100%;
}

#image_637956119 {
  width: 100%;
}

#image_1581466307 {
  width: 100%;
}

#image_1825092324 {
  width: 100%;
}

#image_506845478 {
  width: 100%;
}

#image_1140716393 {
  width: 100%;
}

#gap-1346437486 {
  padding-top: 16px;
}

#text-2829812783 {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

#section_1842558814 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(247, 247, 247);
}
#section_1842558814 .section-bg-overlay {
  background-color: rgba(255, 255, 255, 0.85);
}

#col-1371473548 > .col-inner {
  padding: 10% 10% 10% 10%;
}

#image_915137129 {
  width: 100%;
}

#image_790438928 {
  width: 100%;
}

#image_1898385468 {
  width: 100%;
}

#banner-1830224003 {
  padding-top: 100%;
  background-color: rgb(135, 150, 84);
}

#text-box-1164446928 {
  width: 60%;
}
#text-box-1164446928 .text-box-content {
  font-size: 100%;
}

#text-3952504706 {
  font-size: 0.9rem;
}

#banner-886818426 {
  padding-top: 100%;
  background-color: rgb(47, 128, 157);
}

#text-box-1241495738 {
  width: 60%;
}
#text-box-1241495738 .text-box-content {
  font-size: 100%;
}

#text-3408138736 {
  font-size: 0.9rem;
}

#banner-1824908502 {
  padding-top: 100%;
  background-color: #7a9c59;
}

#text-box-1475214361 {
  width: 60%;
}
#text-box-1475214361 .text-box-content {
  font-size: 100%;
}

#text-3236768758 {
  font-size: 0.9rem;
}

#text-958928204 {
  font-size: 1rem;
  text-align: center;
}

#gap-501195152 {
  padding-top: 30px;
}

#banner-2016249792 {
  padding-top: 100%;
}
#banner-2016249792 .bg.bg-loaded {
  background-image: url(./../../assets/images/nha-xinh-thiet-ke-noi-that-ecopark-16523.jpg);
}
#banner-2016249792 .overlay {
  background-color: rgba(14, 11, 11, 0.256);
}
#banner-2016249792 .bg {
  background-position: 38% 100%;
}

#text-box-1528124167 {
  width: 64%;
}
#text-box-1528124167 .text-box-content {
  font-size: 100%;
}

#text-1251763580 {
  font-size: 0.9rem;
}


#banner-grid-1967568746 .grid-col-1{height: 600px}
#banner-grid-1967568746 .grid-col-1-2{height: 300px}
#banner-grid-1967568746 .grid-col-1-3{height:200px}
#banner-grid-1967568746 .grid-col-2-3{height: 400px}
#banner-grid-1967568746 .grid-col-1-4{height: 150px}
#banner-grid-1967568746 .grid-col-3-4{height: 450px}

#banner-1505231962 {
  padding-top: 500px;
}
#banner-1505231962 .bg.bg-loaded {
  background-image: url(../images/giuong-iris-dep-gia-tot-hoc-keo-1200x800.jpg);
}
#banner-1505231962 .bg {
  background-position: 54% 79%;
}

#text-box-1432303155 {
  width: 60%;
}
#text-box-1432303155 .text-box-content {
  font-size: 100%;
}

#text-2089824159 {
  color: rgb(66, 66, 69);
}
#text-2089824159 > * {
  color: rgb(66, 66, 69);
}

#banner-1079514283 {
  padding-top: 500px;
}
#banner-1079514283 .bg.bg-loaded {
  background-image: url(../images/Sofa-Poppy-2.5-cho-vai-vang-5.jpg);
}
#banner-1079514283 .overlay {
  background-color: rgba(0, 0, 0, 0);
}

#text-box-840052609 {
  width: 60%;
}
#text-box-840052609 .text-box-content {
  font-size: 100%;
}

#banner-1120750387 {
  padding-top: 500px;
}
#banner-1120750387 .bg.bg-loaded {
  background-image: url(../../assets/images/Ghe-an-cabo-vai-MB204117-2.jpg);
}

#text-box-1104773910 {
  width: 60%;
}
#text-box-1104773910 .text-box-content {
  font-size: 100%;
}

#text-3333905160 {
  color: rgb(0,0,0);
}
#text-3333905160 > * {
  color: rgb(0,0,0);
}

#text-3528239104 {
  font-size: 1rem;
  line-height: 1.5;
}

#gap-2028902923 {
  padding-top: 30px;
}

#text-2598590051 {
  font-size: 1rem;
  line-height: 1.5;
}

#section_1314453623 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#banner-grid-354140169 .grid-col-1{height: 600px}
#banner-grid-354140169 .grid-col-1-2{height: 300px}
#banner-grid-354140169 .grid-col-1-3{height:200px}
#banner-grid-354140169 .grid-col-2-3{height: 400px}
#banner-grid-354140169 .grid-col-1-4{height: 150px}
#banner-grid-354140169 .grid-col-3-4{height: 450px}

#banner-1746747527 {
  padding-top: 500px;
}
#banner-1746747527 .bg.bg-loaded {
  background-image: url(../images/armchair-maxine-neww-800x800.jpeg);
}

#text-box-1113202552 {
  width: 60%;
}
#text-box-1113202552 .text-box-content {
  font-size: 100%;
}

#banner-1895400574 {
  padding-top: 500px;
}
#banner-1895400574 .bg.bg-loaded {
  background-image: url(../images/mau-phong-ngu-16-5-23.jpg);
}
#banner-1895400574 .bg {
  background-position: 100% 84%;
}

#text-box-2089963822 {
  width: 60%;
}
#text-box-2089963822 .text-box-content {
  font-size: 100%;
}

#text-277391695 {
  color: #0a0a0b;
}
#text-277391695 > * {
  color: #0a0a0b;
}

#banner-1050371575 {
  padding-top: 500px;
}
#banner-1050371575 .bg.bg-loaded {
  background-image: url(../images/ghe-an-pio-2-533x800.jpg);
}

#text-box-858454056 {
  width: 60%;
}
#text-box-858454056 .text-box-content {
  font-size: 100%;
}

#banner-1552954976 {
  padding-top: 500px;
}
#banner-1552954976 .bg.bg-loaded {
  background-image: url(../images/0210-2-800x800.jpg);
}

#text-box-2010598250 {
  width: 60%;
}
#text-box-2010598250 .text-box-content {
  font-size: 100%;
}

#gap-2045752982 {
  padding-top: 13px;
}

#image_1215574080 {
  width: 100%;
}

#gap-1588390619 {
  padding-top: 30px;
}

#image_1463414572 {
  width: 100%;
}

#gap-711732512 {
  padding-top: 28px;
}

#gap-1075837384 {
  padding-top: 16px;
}

#gap-1300533652 {
  padding-top: 30px;
}
